<!DOCTYPE html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"/>
</head>
<body>
    <h1>데이터를 가져온 시간 {{data[4]}}</h1>
    <ul class = "list">
        <li>
            <p> 온도 </p>
            <progress value="{{data[3]}}" max="50"></progress>
            <p>{{data[3]}}</p>
        </li>
        <li>
            <p> 습도 </p>
            <progress value="{{data[2]}}" max="100"></progress>
            <p>{{data[2]}}</p>
        </li>
        <li>
            <p> 물 높이 </p>
            <progress value="{{data[0]}}" max="100"></progress>
            <p>{{data[0]}}</p>
        </li>
        <li>
            <p>토양 수분</p>
            <progress value="{{data[1]}}" max="100"></progress>
            <p>{{data[1]}}</p>
        </li>
    </ul>
    <div class = "btnDiv">
        <button onclick="fanOn()">Fan ON</button>
        <button onclick="fanOff()">Fan OFF</button>
    </div>
    <div class = "btnDiv">
        <button onclick="ledOn()">LED ON</button>
        <button onclick="ledOff()">LED OFF</button>
    </div>
    <script>
        function fanOn() {
            fetch("/fan/on")
                .then(response => response.text())
                .then(data => {
                    if(data === "OK"){
                        alert("FAN이 가동되었습니다.");
                    }
                    else{
                        alert("ERROR");
                    }
                }
                );
        }

        function fanOff() {
            fetch("/fan/off")
                .then(response => response.text())
                .then(data => {
                    if(data === "OK"){
                        alert("FAN이 중지되었습니다.");
                    }
                    else{
                        alert("ERROR");
                    }
                }
                );
        }

        function ledOn() {
            fetch("/led/on")
                .then(response => response.text())
                .then(data => {
                    if(data === "OK"){
                        alert("LED가 가동되었습니다.");
                    }
                    else{
                        alert("ERROR");
                    }
                }
                );
        }
        function ledOff() {
            fetch("/led/off")
                .then(response => response.text())
                .then(data => {
                    if(data === "OK"){
                        alert("LED가 중지되었습니다.");
                    }
                    else{
                        alert("ERROR");
                    }
                }
                );
        }
    </script>
</body>
