<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"/>
</head>
<body>
    <ul class = "list">
        <li>
            <label> 온도 </label>
            <progress value="20" max="100"></progress>
            <p>{{data}}</p>
        </li>
        <li>
            <label> 습도 </label>
            <progress value="20" max="100"></progress>
        </li>
        <li>
            <label> 물 높이 </label>
            <progress value="20" max="100"></progress>
        </li>
        <li>
            <label>토양 수분</label>
            <progress value="20" max="100"></progress>

        </li>
    </ul>
</body>
